*
{
  margin: 0;
  padding:  0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

}
body{
display: flex;
justify-content: center;
align-items: center;
background :url('src/assets/images/backround.jpg') center;
}

.container{
position: relative;
width: 1200px;
max-width: 100%;
height: calc(100vh - 40px);
background: #fff;
box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06), 0 2px 5px 0 rgba(0,0,0,0.06);
display: flex;

}
.container .leftside{
position: relative;
flex: 30%;
background: #fff;

}
.container .rightside{
  position: relative;
  flex: 70%;
  background: #e5e5e5;
  border-right: 1px solid rgba(0,0,0,0.02);
 
  }
.container .rightside::before{

content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: url('src/assets/images/backround.jpg') center;
opacity: 0.06;

}
.header{
position: relative;
width: 100%;
height: 60px;
background: #ededed;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 15px;
}
.profile-pic{
position: relative;
width:40px;
height: 40px;
overflow: hidden;
border-radius: 50%;
cursor: pointer;
}
.cover{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;

}
.nav_icons{
display: flex;

}
.nav_icons li{
  display: flex;
  list-style: none;
  cursor: pointer;
  color: #51585c;
  font-size: 1.5em;
  margin-left: 2px;
  }
  .nav_icons button{

    border-radius: 20px;
    background-color:#03fa28;
    border: none;
    padding: 5px;
    font-size: 12px;

  }
  .search_chat{
    position: relative;
    width: 100%;
    height: 50px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
  }
  .search_chat div{
    width: 100%;
  }
  .search_chat div input{
    width: 100%;
    outline: none;
    border: none;
    background: #fff;
    padding: 6px;
    height: 38px;
    border-radius: 40px;
    font-size: 14px;
    padding-left: 40px;

  }
  .search_chat div ::placeholder{
    color: #bbb;
  }


  .search_chat div ion-icon {
    position: absolute;
    left: 30px;
    top: 14px;
    font-size: 1.2em;

  }
.chat-list{
position: relative;
 height: calc(100% - 110px); /*60 + 50  */
overflow-y:auto;
}

.chat-list .block{
position: relative;
width: 100%;
display: flex;

/* justify-content: center; */
align-items: center;
padding: 15px;
border-bottom: 1px solid rgba(0,0,0,0.06);
cursor: pointer;
}
.chat-list .block:hover{
background: #ebebeb;
}


.chat-list .block .imgbx{
  position: relative;
  min-width: 45px;
  height:45px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}
.chat-list .block .user-details{
 position:relative;
 width: 100%;
}
.chat-list .block .user-details .name-msgTime{
display: flex;
justify-content: space-between;
margin-bottom: 5px;
}
.chat-list .block .user-details .name-msgTime h4{
font-size: 0.9em;
font-weight: 600;
color: #111;
}
.chat-list .block .user-details .name-msgTime .time{

font-size: 0.75em;
color: #aaa;
}
.chat-list .block.unread .user-details .name-msgTime .time {
color: #06d755;
}


.last_message{
display: flex;
justify-content: space-between;
align-items: center;

}
.last_message p{
color: #aaa;
display: -webkit-box;
-webkit-line-clamp: 1;
font-size: 0.9em;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}
.last_message b{
background: #06d755;
color: #fff;
min-width: 20px;
height: 20px;
border-radius: 50%;
display: flex;
justify-content: center;
font-size: 0.75em;
}

.imgText{
position: relative;
display: flex;
justify-content:center;
align-items: center;
}
.imgText h4{
  font-size: 1.1em; 
 font-weight: 400; 
 line-height: 1.2em;
 margin-left: 15px;
}
.imgText h4 span{
  font-size: 0.8em; 
  color: #555;
 }
/* chat box */
.chat-box{
position: relative;
width: 100%;
height: calc(100% - 120px); /* 60 + 60 = 120 */
padding: 50px;
overflow-y: auto;
}

.message{
position: relative;
display: flex;
width: 100%;
margin: 5px 0;

}
.message p{
  position: relative;
  right: 0;
  text-align: right;
  max-width: 65;
 padding: 12px;
  background: #dcf8c6;
  border-radius: 10px;
  font-size: 0.9em;
  }

.message p::before
{
content: '';
position: absolute;
top: 0;
right: -12px;
width: 20px;
height:20px ;
background: linear-gradient(135deg , #dcf8c6 0% ,#dcf8c6 50% ,transparent 50% , transparent );

}
.message p span{

display: block;
margin-top: 5px;
font-size: 0.85em;
opacity: 0.5;
}
.my-msg{
justify-content: flex-end;
}
.friend-msg{
  justify-content: flex-start;
}
.friend-msg p{
  /* background: #A13CF4; */
  background: linear-gradient(#A13CF4 ,#5D7EEC );
  text-align: left;
  color: #fff;
 
}

.message.friend-msg p::before
{
  content: '';
  position: absolute;
  top: 0;
  left: -12px;
  width: 20px;
  height:20px ;
  background: linear-gradient(225deg , #A13CF4 0% ,#A13CF4 50% ,transparent 50% , transparent );
  
  }
  .chat-input{
  position: relative;
  width: 100%;
  height: 60px ;
  background: #f0f0f0;
  padding: 15px;
  display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .chat-input ion-icon{
    cursor: pointer;
    font-size: 1.8em;
    color: #51585c;
  }

  .chat-input ion-icon:nth-child(1){
  margin-right: 15px;

  }
  .chat-input input{
    position: relative;
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1em;
  }
  .status{
  
    overflow: hidden;
    overflow-y:auto;
   
  }

  .status.seen .profile-pic {
    margin-top: 10px;
    position: relative;
    display: flex;
    width:40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 10px;
    margin-bottom: 15px;
    cursor: pointer;
  
    }
    .status.seen .profile-pic:hover{
      box-shadow:0 0 0 2px #fff ,
      0 0 0 4px #000000 ;
  
      }
  .status.unseen .profile-pic {
    margin-top: 10px;
    position: relative;
    display: flex;
    width:40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    box-shadow:0 0 0 2px #fff ,
    0 0 0 4px #008069 ;
    
    }
.modal-box{ font-family: 'Montserrat', sans-serif; }
.modal-box .show-modal{
    color: #175cab;
    background-color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 10px 15px;
    margin: 80px auto 0;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    display: block;
}
.modal-box .show-modal:hover,
.modal-box .show-modal:focus{
    color: #175cab;
    border: none;
    outline: none;
}
.modal-backdrop.in{ opacity: 0.6; }

.modal-box .modal-dialog{
    width: 550px;
    margin: 70px auto 0;
}
.modal.fade .modal-dialog{
    transform: translateX(100px);
    transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
}
.modal.in .modal-dialog{ transform: translateX(0); }
.modal-box .modal-dialog .modal-content{
    background: #fff;
    text-align: center;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.modal-box .modal-dialog .modal-content .close{
    color: #1eaaf1;
    font-size: 30px;
    line-height: 15px;
    opacity: 1;
    position: absolute;
    left: auto;
    top: 20px;
    right: 15px;
    z-index: 1;
    transition: all 0.3s;
}
.modal-box .modal-dialog .modal-content .close span{
    margin: -2px 0 0 0;
    display: block;
}
.modal-content .close:hover{ color: #1eaaf1; }
.modal-box .modal-dialog .modal-content .modal-body{ padding: 0 45px 45px !important; }
.modal-box .modal-dialog .modal-content .modal-body .modal-icon{
    color: #fff;
    background: #4fc235;
    font-size: 70px;
    line-height: 125px;
    width: 125px;
    height: 125px;
    margin: -63px auto 15px;
    border-radius: 50%;
    display: inline-block;
}
.modal-box .modal-dialog .modal-content .modal-body .title{
    color: #4fc235;
    font-size: 30px;
    font-weight: 300;
    line-height: 50px;
    text-transform: capitalize;
    margin: 0 0 15px;
}
.modal-box .modal-dialog .modal-content .modal-body .suggested{
  color: #4fc235;
  font-size: 25px;
  font-weight: 300;
  line-height: 50px;
  text-transform: capitalize;
  margin: 0 0 15px;
}
.modal-box .modal-dialog .modal-content .modal-body .description{
    color: #767676;
    font-size: 23px;
    font-weight: 400;
    margin: 0 0 15px;
}
.modal-box .modal-dialog .modal-content .modal-body .input-group{
    background-color: #eff7ff;
    padding: 2px 1px;
    margin: 0 auto;
    border: 1px solid #c5cfdb;
    border-radius: 25px;
    margin-bottom: 10px;
}

.modal-box .modal-dialog .modal-content .modal-body input{
    background-color: transparent;
    font-size: 18px;
    width: calc(100% - 45px);
    height: 40px;
    border-radius: 25px;
    border: none;
    box-shadow: none;

}

.modal-box .modal-dialog .modal-content .modal-body input:focus{ box-shadow: none; }
.modal-box .modal-dialog .modal-content .modal-body .btn{
    color: #fff;
    background-color: #1eaaf1;
    font-size: 20px;
    line-height: 35px;
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 50%;
    border: none;
    transition: all 0.4s ease 0s;
    margin-bottom: 10px;
}
.modal-box .modal-dialog .modal-content .modal-body .btn:hover{
    color: #fff;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}
@media only screen and (max-width: 767px){
    .modal-box .modal-dialog{ width: 95% !important; }
    .modal-box .modal-dialog .modal-content .modal-body{ padding: 0 25px 45px !important; }
    .modal-box .modal-dialog .modal-content .modal-body .title{ font-size: 33px; }
}

.modal-box .modal-dialog .modal-content .modal-body .suggestedList{
  margin-bottom: 5px;
  position: relative;
   height: calc(100% - 110px); /*60 + 50  */
  overflow-y:auto;
  }

.modal-box .modal-dialog .modal-content .modal-body  .block{
  position: relative;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.06);
  cursor: pointer;
  }

  .modal-box .modal-dialog .modal-content .modal-body  .block .imgbx{
    position: relative;
    min-width: 45px;
    height:45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
  }
  .modal-box .modal-dialog .modal-content .modal-body  .block .user-details{
   position:relative;
   width: 100%;
  }
  .modal-box .modal-dialog .modal-content .modal-body .block .user-details .name-msgTime{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    }
  .modal-box .modal-dialog .modal-content .modal-body  .block .user-details .name-msgTime h4{
    font-size: 0.9em;
    font-weight: 600;
    color: #111;
    }
    .modal-box .modal-dialog .modal-content .modal-body  .block .user-details .name-msgTime .nav_icons{
      display: flex;
      
      }
      .modal-box .modal-dialog .modal-content .modal-body  .block .user-details .name-msgTime .nav_icons li{
        display: flex;
        list-style: none;
        cursor: pointer;
        color: #51585c;
        font-size: 1.5em;
        margin-left: 2px;
        }
        .modal-box .modal-dialog .modal-content .modal-body .icon .profile-pic{
          position: relative;
          width:40px;
          height: 40px;
          overflow: hidden;
          border-radius: 50%;
          cursor: pointer;
          }
          .modal-box .modal-dialog .modal-content .modal-body .icon .profile-pic .cover{
          position: absolute;
          align-items: center;
          width: 100%;
          height: 100%;
          object-fit: cover;
          
          }
          .modal-box .modal-dialog .modal-content .modal-body .icon{
            color: #fff;
            background: #00BFE3;
            font-size: 60px;
            text-align: center;
            text-shadow: 0 0 10px#555 inset;
            line-height: 130px;
            width: 130px;
            height: 130px;
            margin: -25px auto 30px;
            border-radius: 100px;
            box-shadow: 0 0 0 5px #fff inset, 0 0 0 10px #273c75 inset, 7px 7px 2px rgba(144, 144, 144,0.8);
            display: block;
        }
        .modal-box .modal-dialog .modal-content .modal-body button{

          border-radius: 20px;
          background-color:#ec0909;
          border: none;
          padding: 5px;
          font-size: 12px;
      
        }
    
