<body>
	<!-- navbar -->
	<div class="container">



		<div class="leftside">
			<!-- header -->
			<div class="header">
				<div class="profile-pic">
					<li><img src="/assets/images/user.jpg" class="cover"  data-toggle="modal" data-target="#profileModal"></li>
				</div>
				<!-- icons -->
				<ul class="nav_icons">

					<div class="row">
					<div class="col-12">
					<li><ion-icon data-toggle="modal" data-target="#myModal"
							name="person-add"></ion-icon></li>
					</div>
					</div>
					<li><ion-icon name="ellipsis-vertical"></ion-icon></li>
					<button data-toggle="modal" data-target="#f-listModal">Friends</button>
				</ul>
			</div>
			<!-- Search input -->
			<div class="search_chat">
				<div>
					
					<input type="text" placeholder="Search or start new chat">
					<ion-icon name="search-outline"></ion-icon>
				</div>
			</div>
			<!-- Chat List -->
			<div class="chat-list">
				<div class="block">
					<div class="imgbx">
						<img src="/assets/images/chatBg.jpg" class="cover">
					</div>
					<div class="user-details">
						<div class="name-msgTime">
							<h4>Aubrey Mashaba</h4>
							<p class="time">14:05</p>
						</div>
						<div class="last_message">
							<p>Yesterday the party was so lit man we burned</p>
						</div>
					</div>

				</div>
				<div class="block">
					<div class="imgbx">
						<img src="/assets/images/chatBg.jpg" class="cover">
					</div>
					<div class="user-details">
						<div class="name-msgTime">
							<h4>Aubrey Mashaba</h4>
							<p class="time">14:05</p>
						</div>
						<div class="last_message">
							<p>Yesterday the party was so lit man we burned</p>
						</div>
					</div>

				</div>
				<div class="block">
					<div class="imgbx">
						<img src="/assets/images/chatBg.jpg" class="cover">
					</div>
					<div class="user-details">
						<div class="name-msgTime">
							<h4>Aubrey Mashaba</h4>
							<p class="time">14:05</p>
						</div>
						<div class="last_message">
							<p>Yesterday the party was so lit man we burned your house</p>
						</div>
					</div>

				</div>
				<div class="block">
					<div class="imgbx">
						<img src="/assets/images/chatBg.jpg" class="cover">
					</div>
					<div class="user-details">
						<div class="name-msgTime">
							<h4>Aubrey Mashaba</h4>
							<p class="time">14:05</p>
						</div>
						<div class="last_message">
							<p>Yesterday the party was so lit man we burned</p>
						</div>
					</div>

				</div>
				<div class="block">
					<div class="imgbx">
						<img src="/assets/images/chatBg.jpg" class="cover">
					</div>
					<div class="user-details">
						<div class="name-msgTime">
							<h4>Aubrey Mashaba</h4>
							<p class="time">14:05</p>
						</div>
						<div class="last_message">
							<p>Yesterday the party was so lit man we burned</p>
						</div>
					</div>

				</div>
				<div class="block unread">
					<div class="imgbx">
						<img src="/assets/images/user2.png" class="cover">
					</div>
					<div class="user-details">
						<div class="name-msgTime">
							<h4>Aaron Mphogo</h4>
							<p class="time">21:05</p>
						</div>
						<div class="last_message">
							<p>My kid is sick so am not coming will see you tommorow</p>
							<b>1</b>
						</div>
					</div>
				</div>
				<div class="block unread">
					<div class="imgbx">
						<img src="/assets/images/user2.png" class="cover">
					</div>
					<div class="user-details">
						<div class="name-msgTime">
							<h4>Aaron Mphogo</h4>
							<p class="time">21:05</p>
						</div>
						<div class="last_message">
							<p>My kid is sick so am not coming will see you tommorow</p>
							<b>1</b>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="rightside">

			<!-- right header -->
			<div class="header">
				<div class="imgText">
					<div class="profile-pic">
						<img src="/assets/images/chatBg.jpg" class="cover">
					</div>
					<h4>Aubrey Mashaba<br><span>Online</span></h4>
				</div>

				<!-- icons -->
				<ul class="nav_icons">
					<li><ion-icon name="search-outline"></ion-icon></li>
					<li><ion-icon name="ellipsis-vertical"></ion-icon></li>
				</ul>
			</div>
			<!-- CHATBOX -->
			<div class="chat-box">
				<div class="message my-msg">
					<p>Hello<br><span>12:34</span></p>
				</div>
				<div class="message friend-msg">
					<p>Hey<br><span>12:36</span></p>
				</div>
				<div class="message my-msg">
					<p>How are you<br><span>12:34</span></p>
				</div>
				<div class="message friend-msg">
					<p>Fine how are you man yesterday i was there by your side kgnae dintshang
						dawgo<br><span>12:36</span></p>
				</div>
				<div class="message my-msg">
					<p>Hello<br><span>12:34</span></p>
				</div>
				<div class="message friend-msg">
					<p>Hey<br><span>12:36</span></p>
				</div>
				<div class="message my-msg">
					<p>How are you<br><span>12:34</span></p>
				</div>
				<div class="message friend-msg">
					<p>Fine how are you man yesterday i was there by your side kgnae dintshang
						dawgo<br><span>12:36</span></p>
				</div>
				<div class="message my-msg">
					<p>Hello<br><span>12:34</span></p>
				</div>
				<div class="message friend-msg">
					<p>Hey<br><span>12:36</span></p>
				</div>
				<div class="message my-msg">
					<p>How are you<br><span>12:34</span></p>
				</div>
				<div class="message friend-msg">
					<p>Fine how are you man yesterday i was there by your side kgnae dintshang
						dawgo<br><span>12:36</span></p>
				</div>
				<div class="message my-msg">
					<p>Hello<br><span>12:34</span></p>
				</div>
				<div class="message friend-msg">
					<p>Hey<br><span>12:36</span></p>
				</div>
				<div class="message my-msg">
					<p>How are you<br><span>12:34</span></p>
				</div>
				<div class="message friend-msg">
					<p>Fine how are you man yesterday i was there by your side kgnae dintshang
						dawgo<br><span>12:36</span></p>
				</div>
				<div class="message my-msg">
					<p>Hello<br><span>12:34</span></p>
				</div>
				<div class="message friend-msg">
					<p>Hey<br><span>12:36</span></p>
				</div>
				<div class="message my-msg">
					<p>How are you<br><span>12:34</span></p>
				</div>
				<div class="message friend-msg">
					<p>Fine how are you man yesterday i was there by your side kgnae dintshang
						dawgo<br><span>12:36</span></p>
				</div>
				<!-- Chat Box Input -->
			</div>
			<div class="chat-input">
				<ion-icon name="attach"></ion-icon>
				<input type="text" placeholder="Type your message">
				<ion-icon name="send"></ion-icon>
			</div>
		</div>

		<!-- Status -->
		<div class="status">
			<!-- header -->
			<div class="header">

				<!-- icons -->
				<ul class="nav_icons">
					<li><ion-icon name="logo-instagram"></ion-icon></li>
				</ul>
			</div>
			<div class="status seen">
				<div class="profile-pic">
					<img src="/assets/images/user.jpg" class="cover">
				</div>
				<div class="profile-pic">
					<img src="/assets/images/user.jpg" class="cover">
				</div>
				<div class="profile-pic">
					<img src="/assets/images/user2.png" class="cover">
				</div>
			</div>
			<div class="status unseen">
				<div class="profile-pic">
					<img src="/assets/images/user.jpg" class="cover">
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<div class="modal-box">
					<!-- Modal -->
					<div class="modal fade" id="myModal" data-backdrop="false" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								<div class="modal-body">
									<div class="modal-icon">
										<ion-icon name="person-add-outline"></ion-icon>
									</div>
									<h3 class="title">Add New Friend</h3>


									<form action="">

									<div class="input-group">
										
										<input class="name"type="email" class="form-control" placeholder="Username"
											required="">
					
									</div>
									<div class="input-group">
									
										<input name="contact" type="email" class="form-control" placeholder="Contact number"
											required="">
									</div>
									<button class="btn"><ion-icon name="send"></ion-icon></button>
								</form>
								<hr class="dashed">
								<h3 class="suggested">People you may like!</h3>
								<hr class="dashed">
								<div class="suggestedList">
								<div class="block">
									<div class="imgbx">
										<img src="/assets/images/chatBg.jpg" class="cover">
									</div>
									<div class="user-details">
										<div class="name-msgTime">
											<h4>Aubrey Mashaba</h4>
											<div class="nav_icons">
											<li  routerLink="#"><ion-icon name="person-add"></ion-icon></li>
										</div>
										</div>
										<div class="last_message">
											<p>Online</p>
										</div>
									</div>
								</div>
								<div class="block">
									<div class="imgbx">
										<img src="/assets/images/chatBg.jpg" class="cover">
									</div>
									<div class="user-details">
										<div class="name-msgTime">
											<h4>Aubrey Mashaba</h4>
											<div class="nav_icons">
												<li   routerLink="#">	<ion-icon name="person-add" ></ion-icon></li>
											</div>
									
										</div>
										<div class="last_message">
											<p>Offline</p>
										</div>
									</div>
								</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>





<!--Profile Modal -->
<div class="modal-box">
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  data-backdrop="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
			<div class="modal-body">
				<div class="icon">
					
					<i><img src="/assets/images/user.jpg" class="icon"></i>
			
				</div>
				<h3 class="title">Aubrey</h3>
				<p class="contact">0728685375</p>
				<p class="contact">No of friends : 20</p>
				
				<button routerLink="/login">LogOut</button>
			</div>
		</div>
	</div>
</div>

	</div>

<!-- Friends List Modal-->

<div class="modal-box">
	<div class="modal fade" id="f-listModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  data-backdrop="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<div class="modal-body">
					<div class="icon">
						
						<i><ion-icon name="people"></ion-icon></i>
				
					</div>
					<hr class="dashed">
					<h4>All friends</h4>
					<hr class="dashed">
					<div class="block">

						<div class="imgbx">
							<img src="/assets/images/chatBg.jpg" class="cover">
						</div>
						<div class="user-details">
							<div class="name-msgTime">
								<h4>Aubrey Mashaba</h4>
							</div>
							<div class="last_message">
								<p>Offline</p>
							</div>
						</div>
					</div>
					
					<button routerLink="/login">LogOut</button>
				</div>
			</div>
		</div>
	</div>
	
		</div>
</div>




</div>

</body>