

<div class="row">
    <div class="col-md-12">
<!--Profile Modal -->
<div class="modal-box">
    <div class="modal fade" id="friendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  data-backdrop="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-body">
                    <div class="icon">
                        
                        <i><img src="/assets/images/user.jpg" class="icon"></i>
                
                    </div>
                    <h3 class="title">Aubrey</h3>
                    <p class="contact">0728685375</p>
                    <p class="contact">No of friends : 20</p>
                    
                    <button routerLink="/login">LogOut</button>
                </div>
            </div>
        </div>
    </div>
